name: Release Artifacts

on:
  release:
    types: [published]

jobs:
  build:
    runs-on: ${{ matrix.OS }}
    strategy:
      matrix:
        include:
          - OS: ubuntu-latest
            PYTHON_VERSION: "3.13"
            ARTIFACT_NAME: linux-amd64
            ARTIFACT_EXT: tar.gz
            BUILD_CMD: |
              export PYTHONHASHSEED=42
              export BUILD_FILE_NAME=sync-keys-${RELEASE_VERSION}-linux-amd64;
              mkdir ${BUILD_FILE_NAME};
              pyinstaller --onefile ./sync_keys/main.py \
                --name sync-keys \
                --copy-metadata py_ecc \
                --distpath ./${BUILD_FILE_NAME};
              tar -zcvf ${BUILD_FILE_NAME}.tar.gz ./${BUILD_FILE_NAME};
              mkdir /tmp/artifacts;
              cp ${BUILD_FILE_NAME}.tar.gz /tmp/artifacts;
              sha256sum ${BUILD_FILE_NAME}.tar.gz | head -c 64 > /tmp/artifacts/${BUILD_FILE_NAME}.sha256;

          - OS: macos-latest
            PYTHON_VERSION: "3.13"
            ARTIFACT_NAME: darwin-arm64
            ARTIFACT_EXT: tar.gz
            BUILD_CMD: |
              export PYTHONHASHSEED=42
              export BUILD_FILE_NAME=sync-keys-${RELEASE_VERSION}-darwin-arm64;
              mkdir ${BUILD_FILE_NAME};
              pyinstaller --onefile ./sync_keys/main.py \
                --name sync-keys \
                --copy-metadata py_ecc \
                --distpath ./${BUILD_FILE_NAME};
              tar -zcvf ${BUILD_FILE_NAME}.tar.gz ./${BUILD_FILE_NAME};
              mkdir /tmp/artifacts;
              cp ${BUILD_FILE_NAME}.tar.gz /tmp/artifacts;
              shasum -a 256 ${BUILD_FILE_NAME}.tar.gz | head -c 64 > /tmp/artifacts/${BUILD_FILE_NAME}.sha256

          - OS: windows-latest
            PYTHON_VERSION: "3.13"
            ARTIFACT_NAME: windows-amd64
            ARTIFACT_EXT: zip
            BUILD_CMD: |
              $RELEASE_VERSION = $env:RELEASE_VERSION
              $BUILD_FILE_NAME = "sync-keys-" + $RELEASE_VERSION + "-windows-amd64"
              $BUILD_FILE_NAME_PATH = ".\" + $BUILD_FILE_NAME
              pyinstaller --onefile ./sync_keys/main.py `
                --name sync-keys `
                --copy-metadata py_ecc `
                --distpath ${BUILD_FILE_NAME_PATH};
              $ZIP_FILE_NAME = $BUILD_FILE_NAME + ".zip"
              Compress-Archive -Path $BUILD_FILE_NAME_PATH -DestinationPath $ZIP_FILE_NAME
              mkdir \tmp\artifacts
              copy $ZIP_FILE_NAME \tmp\artifacts\
              $CHECKSUM_FILE_NAME_PATH = "\tmp\artifacts\" + $BUILD_FILE_NAME + ".sha256"
              certUtil -hashfile $ZIP_FILE_NAME SHA256 `
                | findstr /i /v "SHA256" `
                | findstr /i /v "CertUtil" `
                > $CHECKSUM_FILE_NAME_PATH

    steps:
      - uses: actions/checkout@v6

      - uses: actions/setup-python@v6
        with:
          python-version: ${{ matrix.PYTHON_VERSION }}

      - name: Install dependencies
        run: |
          pip install -r requirements.txt
          pip install pyinstaller

      - name: Build executable for ${{ matrix.OS }}
        env:
          RELEASE_VERSION: ${{ github.event.release.tag_name }}
        run: ${{ matrix.BUILD_CMD }}

      - name: Upload to Release
        uses: softprops/action-gh-release@v2
        with:
          files: /tmp/artifacts/*
